::-webkit-scrollbar {
    display: none;
}

/* Universal Classes */

:root {
    --colour1: #1F1D13;
    --colour2: #56794b;
    --colour3: #ffe3b7;
    --colour4: #efffeb;
    --linkhover: #30442a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

html {
    scroll-behavior: smooth !important;
}

body {
    min-height: 1048px;
    background-color: var(--colour3);
    font-family: "Inter";
    background: url(images/background.png) var(--colour3);
    background-repeat: repeat;
    animation: slide 5s linear infinite;
}

a {
    text-decoration: none;
}

.card a:link {
    color: var(--colour2);
    border-bottom: 0.5px solid currentColor;
    transition: all 50ms ease-in-out;
}

.card a:visited {
    color: var(--colour2);
}

.card a:hover {
    color: var(--linkhover);
    border-bottom: 2px solid currentColor;
    transition: all 50ms ease-in-out;
}

/* Mobile Version */

@media only screen and (max-width: 768px) {
    body {
        background-color: var(--colour3);
    }
}


/* Desktop Version */

@media only screen and (min-width: 768px) {
    main {
        width: calc(100vw - 70px);
        transform: translateX(70px);
    }

    nav {
        height: 100vh;
        position: fixed;
        background-color: var(--colour1);
        width: 70px;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: space-around;
        align-items: center;
        z-index: 100;
    }

    nav .nav_link {
        display: flex;
        flex-grow: 1;
        height: 100%;
        width: 10vw;
        justify-content: center;
        text-align: center;
        align-items: center;
        color: #fff;
        text-decoration: none;
        transition: all 100ms ease-in-out;
    }

    .nav_link:hover {
        background-color: var(--colour2);
    }

    nav .nav_link:hover {
        width: 50vw;
        transition: width 100ms ease-in-out;
        justify-content: flex-end;
    }

    .nav_link span {
        display: inline;
        height: auto;
        width: fit-content;
        transform: rotate(.25turn);
    }

    section {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 1048px;
    }   

    h1 {
        font-family: 'Playfair Display', 'Inter', monospace;
        font-size: 90px;
        letter-spacing: 5px;
        font-weight: 600;
    }

    h2 {
        margin-top: 0.5rem;
        font-family: 'Inter', Courier, monospace;
        font-size: 50px;
        font-weight: 600;
    }

    .avatar {
        margin-top: 20%;
        border-radius: 50%;
        border: 0.2rem solid var(--colour1);
    }

    .card-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        margin-top: 2rem;
    }

    .card {
        background-color: whitesmoke;
        width: 40rem;
        height: 23rem;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 20px;
        border: 2px solid var(--colour1);
        transition: all .1s cubic-bezier(0.075, 0.82, 0.165, 1);
        padding: 2rem;
        text-align: justify;
    }

    .card:hover {
        transform: scale(1.1);
    }
    
    .card h3 {
        font-family: 'Inter', monospace;
        font-size: 2rem;
        text-align: center;
    }

    h3::after {
        content: '';
        width: 35rem;
        display: block;
        margin-bottom: 0.7rem;
        height: 0.15rem;
        background-color: var(--colour1);
        bottom: 0.1rem;
    }

    p {
        font-size: 1.5rem 
    }
}