* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$colour1: #ff979b;
$colour2: #ffffff;
$colour3: #222222;
$colour4: #2e2e2e;
$colour5: #ffc0c2;
$colour6: #111111;

$textcolour1: #222222;
$textcolour2: #ffffff;

::-webkit-scrollbar {
    display: none;
}

::selection {
    background: $colour1;
    color: #fff;
}

/* ---------------------------------------- */
/* Defaults */
/* ---------------------------------------- */

html {
    background-color: $colour3;
    color: $textcolour2;
    font-family: 'Arial', 'sans-serif';
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}

header {
    position: relative;
    background-image: url(../assets/images/websitebackground.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

.clearfix {zoom: 1;}
.clearfix::after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: $textcolour1;
    font-size: 500%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
    color: $textcolour1;
    font-size: 90%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

.row {
    margin: 0%;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}   

section {
    padding: 80px 0;
}

.box {
    padding: 1%;

    p {
        font-size: 100%;
        line-height: 140%;
    }
}

/* ---------------------------------------- */
/* Icons */
/* ---------------------------------------- */

.icon-big {
    font-size: 350%;
    display: block;
    color: $colour1;
    padding-top: 0px;
    padding-right: 0;
}

.icon-small {
    display: inline-block;
    width: 30px;
    text-align: center;
    color: $colour1;
    font-size: 120%;
    line-height: 120%;
    vertical-align: middle;
}

/* ---------------------------------------- */
/* Nav Bar */
/* ---------------------------------------- */

nav {
    background-color: $colour3;
    height: 60px; 
    display: flex !important; flex-grow: 1;
    align-items: center;
    justify-content: space-between; 
    width: 100%;

    a {
        height: 100%;
        color: $textcolour2 !important;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 10px;
        text-decoration: none !important;
        transition: all 100ms ease-out;
        cursor: pointer;
        border-bottom: 0px solid $colour5;
        text-transform: uppercase;
        flex-grow: 1;

        &:hover {
            border-bottom: 4px solid $colour5;
            background-color: $colour6;
            transition: all 100ms ease-out;
            color: $colour5 !important; 
        }
    }
}

.main-nav {
    text-decoration: none;
    display: inline-block;
    list-style: none;
    margin-top: 2%;
    text-align: center;
    font-size: 120%;

    li {
        display: inline-block;
        margin-left: 20px;
    }
    
    li:first-child {
        display: inline-block;
        margin-left: 5px;
    }

    li a:link,
    li a:visited {
    color: $textcolour2;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.5;
    padding: 5px 0;
    }

    a:hover,
    a:active {
    border-bottom: 2px solid $colour1;
    }
}

/* ---------------------------------------- */
/* Title */
/* ---------------------------------------- */

#center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

    h1, h3 {
        text-align: center;
    }

    h1 {
        font-family: 'Monoton', cursive;
        font-size: 100px;
    }
}

/* ---------------------------------------- */
/* Tracks */
/* ---------------------------------------- */

.lmaooo {
    transition: all 300ms ease-out;
    filter: grayscale(100%);

    &:hover {
        transition: all 300ms ease-out;
        transform: height 150%, width 150%;
        filter: grayscale(0%);
        box-shadow: 1px 1px 0px #ff4747,
                    2px 2px 0px #ff8a47,
                    3px 3px 0px #ffe573,
                    4px 4px 0px #c8ff61,
                    5px 5px 0px #61ff9e,
                    6px 6px 0px #61fff2,
                    7px 7px 0px #61a5ff,
                    8px 8px 0px #7961ff,
                    9px 9px 0px #fa61ff;
    }
}

.iframe-wrapper:before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, .4) inset;
    z-index: 1;
    height: 100%;
  }

  .hero-tracks {

      .row{
          height: 80vh;
      }

      .h1 {
          size: 150%;
      }
  }

/*TODO: add js to change the colours through a gradient*/

  .title-text {
    background: -webkit-linear-gradient(red, blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }